<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link type="text/css" rel="stylesheet" th:href="@{css/bootstrap.min.css}" />
	<link rel="stylesheet" type="text/css" href="styles.css">
	<title>Customers</title>
</head>
<body>
	<div class="container">
		<div class="col-md-4">
			<h1>Customers</h1>
		</div>
		
			<table class="table table-striped">
			<thead>
				<tr>
					<th>First name</th>
					<th>Last name</th>
					<th>Email </th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="customer : ${customers}">
					<td th:text="${customer.getFirstName()}"></td>
					<td th:text="${customer.getFirstName()}"></td>
					<td th:text="${customer.getEmail()}"></td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>